services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bitrix-server-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: bitrix-server-redis
    ports:
      - "3001:6379"
    volumes:
      - /home/data/bitrix24/redisdata:/data
    command: redis-server --appendonly yes
    restart: always