name: Deploy to Server

on:
  push:
    branches: [ "deploy" ]

jobs:
  deploy:
    name: Update server by ssh
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          script: |
            cd /home/projects/bitrix24
            git pull origin deploy
            docker compose down backend
            docker compose up -d
