apiVersion: 1

deleteDatasources:
  - name: Mimir
  - name: Loki

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 5s

